/* general */
:root {
  --font-color: hsl(193, 38%, 86%);
  --highlight-color: hsl(150, 100%, 66%);
  --background-card-color: hsla(217, 19%, 38%, 0.3);
  --background-body-color: hsl(217, 22%, 16%);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
}

/* card */

body {
  background-color: var(--background-body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-width: 375px;
  height: 100vh;
}

.card-container {
  background-color: var(--background-card-color);
  border-radius: 10px;
  min-width: 343px;
  max-width: 540px;
  min-height: 315px;
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.advice-text {
  font-size: 0.45833rem;
  color: var(--highlight-color);
  letter-spacing: 2px;
}

.quote-text {
  color: var(--font-color);
  padding: 1rem 0rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.divider {
  margin-bottom: 1rem;
}

.dice-background {
  background-color: var(--highlight-color);
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: auto;
}

.dice {
  width: 24px;
  height: 24px;
}

.dice-background:hover {
  box-shadow: 0px 0px 20px 5px var(--highlight-color);
  cursor: pointer;
}

@media (min-width: 750px) {
  .divider {
    content: url("images/pattern-divider-desktop.svg");
  }
}
